@font-face {
    font-family: 'FB';
    src: url('fonts/Circe-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FBBOLD';
    src: url('fonts/Circe-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: 'FBBOLD';
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);

}

.container {
	max-width: 390px;
}
.logo{
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 20px;
	margin-top: 20px;
}

.labtext{
    text-align: center;
	font-size: 15px;

}
.form-box{
    display: flex;
    justify-content: center;
}
.inputbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2px;
}

.inputbox input, select, textarea{
	background-color: #fff;
    font-size: 15px;
    height: 100%;
    border: 1px solid #787878;
    border-radius: 8px;
    padding-left: 12px;
    margin: 0;
	font-family: 'FBBOLD';
	resize: none;
}
.inputbox  textarea{
	max-width: 251px;
	min-width: 251px;
	max-height: 60px;
	min-height: 60px;
}
 .others, #jobTitle {
	color: rgb(188, 20, 11);;
}
.labtext{
	margin-top: 5px;
	margin-bottom: 5px;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}

.usercard {
	text-align: center;
}

/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/